.text-center{
    text-align: center;

}

.bg-red{
    background-color: blue;
    width: 280px;
    border-radius: 30px;
}

.mx-auto{
    margin:auto;


}

.flex{
     display: flex;
}

.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;

}